.me {
  display: flex;
  padding: 5px;
  margin: 0 20px;
  align-items: center;
}

.photoPlace {
  width: 25px;
  height: 25px;
  background-color: cornflowerblue;
  border-radius: 50%;
  flex-shrink: 0;
  align-self: flex-start;
}

.from .photoPlace {
  background-color: crimson;
  flex-shrink: 0;
}

.space {
  width: 5px;
}

.to {
  flex-direction: row-reverse;
}

.text {
  max-width: 422px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
